$button-border: none !default;
$button-font-size: 1.3rem !default;
$button-height: 36px !default;
$button-padding: 0 2rem !default;
$button-radius: 2px !default;

.btn {
  position: relative;
  border: $button-border;
  border-radius: $button-radius;
  display: inline-block;
  height: $button-height;
  line-height: $button-height;
  padding: $button-padding;
  outline: none;

  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color .2s;

  &:hover {
    background-color: rgba(0,0,0,.1);
    box-shadow: none;
  }

  &:active {
    background-color: rgba(0,0,0,.2);
  }
}
